html,
body,
#root {
	height: 100%;
}

body, h1, h2, p, span, div {
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
}

#root {
	padding: 1em;
	background-color: #eeeeee;
}

article>header {
	font-family: Verdana, sans-serif;
	font-size: 1.2em;
	color: darkslateblue;
	border-bottom: 2px solid goldenrod;
	margin-bottom: 1em;
}

div.recipes>section {
	border: double 4px saddlebrown;
	padding: 1em;
	background-color: white;
	margin-bottom: 1em;
}